﻿@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h3>Quick Stats</h3>
        <hr />
    </div>
</div>

<div class="row">
    <!-- .col -->
    <div class="col-md-7 col-sm-12 col-xs-12">
        <div class="white-box">
            <h3 class="box-title">Reservations History</h3>
            <ul class="list-inline text-right">
                <li>
                    <h5><i class="fa fa-circle m-r-5" style="color: #00b5c2;"></i>Visa</h5>
                </li>
                <li>
                    <h5><i class="fa fa-circle m-r-5" style="color: #f75b36;"></i>Master Card</h5>
                </li>
                <li>
                    <h5><i class="fa fa-circle m-r-5" style="color: #2c5ca9;"></i>American Express</h5>
                </li>
            </ul>
            <div id="morris-area-chart" style="height: 356px; position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <svg height="356" version="1.1" width="650" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="overflow: hidden; position: relative; top: -0.4px;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.2</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><text x="32.515625" y="317.5" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4.25" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0</tspan></text><path fill="none" stroke="#e0e0e0" d="M45.015625,317.5H625" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="32.515625" y="244.375" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4.25" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">75</tspan></text><path fill="none" stroke="#e0e0e0" d="M45.015625,244.375H625" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="32.515625" y="171.25" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4.25" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">150</tspan></text><path fill="none" stroke="#e0e0e0" d="M45.015625,171.25H625" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="32.515625" y="98.125" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4.25" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">225</tspan></text><path fill="none" stroke="#e0e0e0" d="M45.015625,98.125H625" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="32.515625" y="25" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4.25" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">300</tspan></text><path fill="none" stroke="#e0e0e0" d="M45.015625,25H625" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="625" y="330" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,6.75)"><tspan dy="4.25" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2016</tspan></text><text x="528.380056195801" y="330" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,6.75)"><tspan dy="4.25" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2015</tspan></text><text x="431.76011239160204" y="330" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,6.75)"><tspan dy="4.25" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2014</tspan></text><text x="335.140168587403" y="330" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,6.75)"><tspan dy="4.25" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2013</tspan></text><text x="238.255512608398" y="330" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,6.75)"><tspan dy="4.25" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2012</tspan></text><text x="141.635568804199" y="330" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,6.75)"><tspan dy="4.25" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2011</tspan></text><text x="45.015625" y="330" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,6.75)"><tspan dy="4.25" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2010</tspan></text><path fill="#f28e76" stroke="none" d="M45.015625,317.5C69.17061095104975,285.8125,117.48058285314926,200.5,141.635568804199,190.75C165.79055475524876,181,214.10052665734824,232.19750341997263,238.255512608398,239.5C262.47667660314926,246.82250341997263,310.9190045926518,261.45417236662104,335.140168587403,249.25C359.2951545384528,237.07917236662107,407.6051264405523,146.265625,431.76011239160204,142C455.9150983426518,137.734375,504.22507024475124,223.65625,528.380056195801,215.125C552.5350421468507,206.59375,600.8450140489502,109.09375,625,73.75L625,317.5L45.015625,317.5Z" fill-opacity="0.6" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 0.6;"></path><path fill="none" stroke="#f75b36" d="M45.015625,317.5C69.17061095104975,285.8125,117.48058285314926,200.5,141.635568804199,190.75C165.79055475524876,181,214.10052665734824,232.19750341997263,238.255512608398,239.5C262.47667660314926,246.82250341997263,310.9190045926518,261.45417236662104,335.140168587403,249.25C359.2951545384528,237.07917236662107,407.6051264405523,146.265625,431.76011239160204,142C455.9150983426518,137.734375,504.22507024475124,223.65625,528.380056195801,215.125C552.5350421468507,206.59375,600.8450140489502,109.09375,625,73.75" stroke-width="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><circle cx="45.015625" cy="317.5" r="0" fill="#f75b36" stroke="#f75b36" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="141.635568804199" cy="190.75" r="0" fill="#f75b36" stroke="#f75b36" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="238.255512608398" cy="239.5" r="0" fill="#f75b36" stroke="#f75b36" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="335.140168587403" cy="249.25" r="0" fill="#f75b36" stroke="#f75b36" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="431.76011239160204" cy="142" r="0" fill="#f75b36" stroke="#f75b36" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="528.380056195801" cy="215.125" r="0" fill="#f75b36" stroke="#f75b36" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="625" cy="73.75" r="0" fill="#f75b36" stroke="#f75b36" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><path fill="#0bcfdd" stroke="none" d="M45.015625,317.5C69.17061095104975,293.125,117.48058285314926,227.3125,141.635568804199,220C165.79055475524876,212.6875,214.10052665734824,271.1708276333789,238.255512608398,259C262.47667660314926,246.79582763337893,310.9190045926518,133.48375512995895,335.140168587403,122.5C359.2951545384528,111.54625512995896,407.6051264405523,159.0625,431.76011239160204,171.25C455.9150983426518,183.4375,504.22507024475124,220,528.380056195801,220C552.5350421468507,220,600.8450140489502,183.4375,625,171.25L625,317.5L45.015625,317.5Z" fill-opacity="0.6" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 0.6;"></path><path fill="none" stroke="#00b5c2" d="M45.015625,317.5C69.17061095104975,293.125,117.48058285314926,227.3125,141.635568804199,220C165.79055475524876,212.6875,214.10052665734824,271.1708276333789,238.255512608398,259C262.47667660314926,246.79582763337893,310.9190045926518,133.48375512995895,335.140168587403,122.5C359.2951545384528,111.54625512995896,407.6051264405523,159.0625,431.76011239160204,171.25C455.9150983426518,183.4375,504.22507024475124,220,528.380056195801,220C552.5350421468507,220,600.8450140489502,183.4375,625,171.25" stroke-width="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><circle cx="45.015625" cy="317.5" r="0" fill="#00b5c2" stroke="#00b5c2" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="141.635568804199" cy="220" r="0" fill="#00b5c2" stroke="#00b5c2" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="238.255512608398" cy="259" r="0" fill="#00b5c2" stroke="#00b5c2" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="335.140168587403" cy="122.5" r="0" fill="#00b5c2" stroke="#00b5c2" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="431.76011239160204" cy="171.25" r="0" fill="#00b5c2" stroke="#00b5c2" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="528.380056195801" cy="220" r="0" fill="#00b5c2" stroke="#00b5c2" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="625" cy="171.25" r="0" fill="#00b5c2" stroke="#00b5c2" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><path fill="#37a2f4" stroke="none" d="M45.015625,317.5C69.17061095104975,298,117.48058285314926,248.03125,141.635568804199,239.5C165.79055475524876,230.96875,214.10052665734824,258.98666210670314,238.255512608398,249.25C262.47667660314926,239.48666210670314,310.9190045926518,167.60208618331052,335.140168587403,161.5C359.2951545384528,155.41458618331055,407.6051264405523,191.96875,431.76011239160204,200.5C455.9150983426518,209.03125,504.22507024475124,239.5,528.380056195801,229.75C552.5350421468507,220,600.8450140489502,149.3125,625,122.5L625,317.5L45.015625,317.5Z" fill-opacity="0.6" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 0.6;"></path><path fill="none" stroke="#008efa" d="M45.015625,317.5C69.17061095104975,298,117.48058285314926,248.03125,141.635568804199,239.5C165.79055475524876,230.96875,214.10052665734824,258.98666210670314,238.255512608398,249.25C262.47667660314926,239.48666210670314,310.9190045926518,167.60208618331052,335.140168587403,161.5C359.2951545384528,155.41458618331055,407.6051264405523,191.96875,431.76011239160204,200.5C455.9150983426518,209.03125,504.22507024475124,239.5,528.380056195801,229.75C552.5350421468507,220,600.8450140489502,149.3125,625,122.5" stroke-width="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><circle cx="45.015625" cy="317.5" r="0" fill="#008efa" stroke="#008efa" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="141.635568804199" cy="239.5" r="0" fill="#008efa" stroke="#008efa" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="238.255512608398" cy="249.25" r="0" fill="#008efa" stroke="#008efa" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="335.140168587403" cy="161.5" r="0" fill="#008efa" stroke="#008efa" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="431.76011239160204" cy="200.5" r="0" fill="#008efa" stroke="#008efa" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="528.380056195801" cy="229.75" r="0" fill="#008efa" stroke="#008efa" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="625" cy="122.5" r="0" fill="#008efa" stroke="#008efa" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle></svg><div class="morris-hover morris-default-style" style="left: 488.548px; top: 108px; display: block;">
                   
                </div>
            </div>
        </div>
    </div>
    <!-- /.col -->
    <div class="col-md-5 col-sm-6">
        <div class="row">
            <!-- .col -->
            <div class="col-md-6 col-sm-12">
                <div class="white-box text-center bg-success">
                    <h1 class="text-white counter">400</h1>
                    <p class="text-white">Total Hotels</p>
                </div>
            </div>
            <!-- /.col -->
            <!-- .col -->
            <div class="col-md-6 col-sm-12">
                <div class="white-box text-center bg-inverse">
                    <h1 class="text-white counter">500</h1>
                    <p class="text-white">Total Customers</p>
                </div>
            </div>
            <!-- /.col -->
            <!-- .col -->
            <div class="col-md-6 col-sm-12">
                <div class="white-box text-center bg-info">
                    <h1 class="counter text-white">3500</h1>
                    <p class="text-white">Total Resrevations</p>
                </div>
            </div>
            <!-- /.col -->
            <!-- .col -->
            <div class="col-md-6 col-sm-12">
                <div class="white-box text-center bg-danger">
                    <h1 class="text-white counter">500 000</h1>
                    <p class="text-white">Total Sales</p>
                </div>
            </div>
            <!-- /.col -->
            <!-- .col -->
            <div class="col-md-12 col-sm-12">
                <div class="white-box">
                    <h3 class="box-title">Number of Hotels Reviews</h3>
                    <ul class="list-inline two-part">
                        <li><i class="icon-folder-alt text-danger"></i></li>
                        <li class="text-right"><span class="counter">5000</span></li>
                    </ul>
                </div>
            </div>
            <!-- /.col -->
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-2 col-sm-4 col-xs-12">
        <a class="btn btn-block btn-outline btn-rounded btn-warning" href="/contacts/create">New Reservation</a>
    </div>
</div>
