﻿@model BookingApp.Models.Reservation

@{
    ViewBag.Title = "Create";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row bg-title" style=" border-bottom:none">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4>Reservation</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <a href="/" target="_blank" class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Main Menu</a>
            <ol class="breadcrumb">
                <li><a href="#">Home Page</a></li>
                <li class="active">Contact Information</li>
                <li class="active">Reservation</li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="form-horizontal">
        <div class="form-body">
            <hr class="m-t-0 m-b-40">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="col-md-8">
                            @Html.LabelFor(model => model.CheckInDate, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.CheckInDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CheckInDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="col-md-8">
                            @Html.LabelFor(model => model.CheckOutDate, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.CheckOutDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CheckOutDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="col-md-8">
                            @Html.LabelFor(model => model.GuessNum, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.GuessNum, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.GuessNum, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="col-md-8">
                            @Html.LabelFor(model => model.NumRooms, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.NumRooms, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NumRooms, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-actions">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-8">
                                <input type="submit" value="Next" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </div>

            }


            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
