﻿@model BookingApp.Models.CreditCard

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CreditCard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Contact.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreditType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CCName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CCName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CCNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CCNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpireDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCard }) |
    @Html.ActionLink("Back to List", "Index")
</p>
