﻿@model IEnumerable<BookingApp.Models.CreditCard>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Contact.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CCName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CCNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpireDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Contact.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreditType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CCName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CCNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpireDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdCard }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdCard }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdCard })
        </td>
    </tr>
}

</table>
